body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    text-align: center;
}

h1 {
    color: #333;
}

#cos {
    margin-bottom: 20px;
}

#zadajZadanie {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#przycisk {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#przycisk:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

.spanZad {
    display: flex;
    margin: 20px;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button {
    margin: 5px;
}

.spanZad:hover {
    background-color: #f9f9f9;
}

.checkbox {
    vertical-align: middle;
    margin-right: 10px;
}

.edytor,
.usuwacz {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.edytor {
    background-color: #3498db;
    color: #fff;
}

.edytor:hover {
    background-color: #2980b9;
}

.usuwacz {
    background-color: #e74c3c;
    color: #fff;
}

.usuwacz:hover {
    background-color: #c0392b;
}